/* Responsive style for Ipad */
@media only screen and (max-width: 768px) {
    header .logo {
        height: 15px;
        margin-right: 40px;
    }

    header nav button {
        margin: 0 10px;
        font-size: 14px;
    }
    
    .hero-text {
        padding: 20px;
        max-width: 350px;
        margin-top: -300px;
    }

    .hero-text h1 {
        font-size: 28px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .join-the-movement-button a {
        font-size: 16px;
        padding: 15px 20px;
    }
}

/* Responsive style for mobile phones */
@media only screen and (max-width: 480px) {

}