/* Responsive style for Ipad */
@media only screen and (max-width: 820px) {
    header .logo {
        height: 15px;
        margin-right: 40px;
    }

    header nav button {
        margin: 0 10px;
        font-size: 14px;
    }
    
    .hero-text {
        padding: 20px;
        max-width: 400px;
        margin-top: -450px;
    }

    .hero-image {
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero-text h1 {
        font-size: 35px;
    }

    .hero-text p {
        font-size: 20px;
    }

    .join-the-movement-button a {
        font-size: 20px;
        padding: 20px;
    }
}

/* Responsive style for mobile phones */
@media only screen and (max-width: 480px) {

}