/* Responsive style for Ipad */
@media only screen and (max-width: 820px) {
    header .logo {
        height: 15px;
        margin-right: 40px;
    }

    header nav button {
        margin: 0 10px;
        font-size: 14px;
    }
    
    .hero-text {
        padding: 20px;
        max-width: 400px;
        margin-top: -450px;
    }

    .hero-image {
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero-text h1 {
        font-size: 35px;
    }

    .hero-text p {
        font-size: 20px;
    }

    .join-the-movement-button a {
        font-size: 20px;
        padding: 20px;
    }
}

/* Responsive style for mobile phones */
@media only screen and (max-width: 480px) {
    header .logo {
        height: 15px;
        margin-right: 170px;
        margin-left: 3px;
    }

    header .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    nav .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: relative;
        top: 140px;
        right: 130px;
        background-color: beige;
        text-align: center;
        padding: 10px;
    }

    nav .nav-links #take-action-button {
        margin-top: 10px;
    }

    nav .nav-links button {
        font-size: 15px;
        margin: 10px;
    }

    .hero-text {
        padding: 15px;
        max-width: 225px;
        margin-top: -300px;
    }

    .hero-text h1 {
        font-size: 25px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .hero-image {
        min-height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
    }

    .join-the-movement-button a {
        font-size: 16px;
        padding: 15px;
    }

    #why-water-content {
        right: 250px;
        width: 200px;
    }

    #about-us-content {
        right: 250px;
        width: 200px;
    }

    #take-action-button, #donate-button, #sign-up-button {
        font-size: 14px;
        padding: 10px 15px;
        width: 120px;
        right: 40px;
    }
}